@media (max-width: 768px) {
  .VideoBg-module_video__2IPmN {
    display: block !important;
    position: static !important;
  }
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}
